<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www..thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>

    <!-- for align logo with tables-->
    <link rel="stylesheet" type="text/css" href="/css/alignment.css"/>

    <script type="text/javascript">
        function displayRowNumber()
        {
            var table = document.getElementById("myTable"),
            rows = table.getElementsByTagName('tr'),
            text = 'textContent' in document ? 'textContent' : 'innerText';

            for (var i = 1, len = rows.length; i < len; i++) {
            rows[i].children[0][text] = i + rows[i].children[0][text];
            }
        }
        </script>

</head>
<body onload="displayRowNumber()">
<div class="page">
    <div class="item">
        <a th:href="@{'/'}">
            <img   th:src="@{../images/Logo.jpg}"  alt="logo" width="150px" height="300px">
        </a>
        <h2 >
            <a th:href="@{'/game/' + ${game.game_id}}">All Reviews</a>
        </h2>
    </div>
    <div class="item2" align="center">
        <h1> WELCOME TO GAME REVIEW PLATFORM </h1>
        <h2 th:object="${game}"> Game: <span th:utext="*{title}"/> </h2>
        <a th:href="@{'/game/' + ${game.game_id} + '/newReview'}"> Add new Review</a>
        <br/><br/>
        <table id="myTable"  border="1" cellpadding="10" >
            <tr>
                <th>No</th>
                <th>Title</th>
                <th>Content</th>
                <th>Posted On</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>

            <tbody>
            <tr th:each="review : ${reviews}">
                <td> </td>
                <td> <a th:text="${review.title}" th:href="@{'/game/' + ${game.game_id} + '/review/' + ${review.review_id}}" > </a> </td>
                <td th:text="${review.text_field}"></td>
                <td th:text="${review.posted_date}"></td>

                <td> </td>
                <!-- action column -->
                <td>
                    <a th:href="@{'/game/' + ${game.game_id} + '/edit/' + ${review.review_id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/game/' + ${game.game_id} + '/delete/' + ${review.review_id}}">Delete</a>
                </td>

            </tr>
            </tbody>

        </table>

    </div>
</div>

</body>
</html>