<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www..thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Game Review Platform</title>
</head>
<body>
<div align="center">
    <h1>Games</h1>
    <a href="/newGame"> Enter New Game</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead >
            <tr>
                <th>Title </th>
                <th>Description</th>
                <th>Release</th>
                <th>Rating</th>
                <th>Genre</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="game : ${games}">
                <td th:text="${game.title}">Title</td>
                <td th:text="${game.description}">Description</td>
                <td th:text="${game.release_date_string}">Release</td>
                <td th:text="${game.rating}">Rating</td>
                <td th:text="${game.genre}">Genre</td>

                <!-- action column -->
                <td>
                    <a th:href="@{'/edit/' + ${game.game_id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete/' + ${game.game_id}}">Delete</a>
                </td>

            </tr>
        </tbody>

    </table>

</div>

</body>
</html>