<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www..thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Game Review Platform</title>

    <!-- for align logo with tables-->
    <link rel="stylesheet" type="text/css" href="/css/alignment.css"/>
    <link rel="stylesheet" type="text/css" href="/css/profile_avatar.css"/>
</head>
<body>

<div class="page">

    <div class="item">
        <a th:href="@{'/main_page/' + ${user.user_id}}">
            <img th:src="@{../images/Logo.jpg}" alt="logo" width="150px" height="300px">
        </a>
    </div>

    <div class="item2" align="center">
        <h1> WELCOME TO GAME REVIEW PLATFORM </h1>
        <br>
        <a href="/newGame"> Enter New Game</a>
        <br/><br/>
        <table border="1" cellpadding="10">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Release</th>
                <th>Rating</th>
                <th>Genre</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="game : ${games}">
                <td><a th:text="${game.title}" th:href="@{'/game/' + ${game.game_id}}"> </a></td>
                <td th:text="${game.description}"></td>
                <td th:text="${game.release_date_string}"></td>
                <td th:text="${game.rating}"></td>
                <td th:text="${game.genre}"></td>

                <!-- action column -->
                <td>
                    <a th:href="@{'/edit/' + ${game.game_id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete/' + ${game.game_id}}">Delete</a>
                </td>

            </tr>
            </tbody>

        </table>

    </div>


    <div class="flip-card">
        <a th:href="@{'/user_profile/' + ${user.user_id}}">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img th:src="@{../images/gaming-boy-512.png}" alt="Avatar" style="width:100px;height:100px;">
                </div>
                <div class="flip-card-back">
                    <h2 th:text="${user.lastName}"></h2>
                    <h2 th:text="${user.firstName}"></h2>
                </div>
            </div>
        </a>
        <div>
            <a th:href="@{'/'}"> Log out</a>
        </div>
    </div>

</div>


</body>
</html>