<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www..thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>

    <!-- for align logo with tables-->
    <link rel="stylesheet" type="text/css" href="/css/alignment.css"/>
    <!-- for profile avatar link-->
    <link rel="stylesheet" type="text/css" href="/css/profile_avatar.css"/>

    <script type="text/javascript">
        function displayRowNumber()
        {
            var table = document.getElementById("myTable"),
            rows = table.getElementsByTagName('tr'),
            text = 'textContent' in document ? 'textContent' : 'innerText';

            for (var i = 1, len = rows.length; i < len; i++) {
            rows[i].children[0][text] = i + rows[i].children[0][text];
            }
        }
        </script>

</head>
<body onload="displayRowNumber()">
<div class="page">
    <div class="item">
        <a th:href="@{'/main_page/' + ${user.user_id}}">
            <img   th:src="@{../../../../images/Logo.jpg}"  alt="logo" width="150px" height="300px">
        </a>
        <h2 >
            <a th:href="@{'/' + ${user.user_id} +'/game/' + ${game.game_id}}">All Reviews</a>
        </h2>
    </div>

    <div class="item2" align="center">
        <h1> WELCOME TO GAME REVIEW PLATFORM </h1>
        <h2 th:object="${game}"> Game: <span th:utext="*{title}"/> </h2>
        <h3 th:object="${review}">Review: <span th:utext="*{title}"/> </h3>
        <a th:href="@{'/' + ${user.user_id} + '/game/' + ${game.game_id} + '/review/' + ${review.review_id} + '/newComment' }"> Add new Comment</a>
        <br/><br/>
        <table id="myTable"  border="1" cellpadding="10" >
            <tr>
                <th>No</th>
                <th>Comment</th>
                <th>Posted On</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>

            <tbody>
            <tr th:each="comment : ${comments}">
                <td> </td>
                <td th:text="${comment.text_field}"></td>
                <td th:text="${comment.posted_date}"></td>
                <td th:text="${comment.author}"> </td>
                <!-- action column -->
                <td>
                    <a th:href="@{'/' + ${user.user_id} + '/game/' + ${game.game_id} + '/review/' + ${review.review_id} + '/edit/' + ${comment.review_id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/' + ${user.user_id} + '/game/' + ${game.game_id} + '/review/' + ${review.review_id}} + '/delete/' + ${comment.review_id}">Delete</a>
                </td>

            </tr>
            </tbody>

        </table>

    </div>

    <div class="flip-card">
        <a th:href="@{'/user_profile/' + ${user.user_id}}">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img th:src="@{../../../../images/gaming-boy-512.png}" alt="Avatar" style="width:100px;height:100px;">
                </div>
                <div class="flip-card-back">
                    <h2 th:text="${user.lastName}"></h2>
                    <h2 th:text="${user.firstName}"></h2>
                </div>
            </div>
        </a>
        <div>
            <br>
            <a th:href="@{'/'}">
                <h2>
                    Log out
                </h2>
            </a>
        </div>
    </div>
</div>

</body>
</html>