<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www..thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>

    <!-- for align logo with tables-->
    <link rel="stylesheet" type="text/css" href="/css/alignment.css"/>

    <script type="text/javascript">
        function displayRowNumber()
        {
            var table = document.getElementById("Reviews"),
            rows = table.getElementsByTagName('tr'),
            text = 'textContent' in document ? 'textContent' : 'innerText';

            for (var i = 1, len = rows.length; i < len; i++) {
            rows[i].children[0][text] = i + rows[i].children[0][text];
            }

            var table = document.getElementById("Comments"),
            rows = table.getElementsByTagName('tr'),
            text = 'textContent' in document ? 'textContent' : 'innerText';

            for (var i = 1, len = rows.length; i < len; i++) {
            rows[i].children[0][text] = i + rows[i].children[0][text];
            }

            getNoOfRows();
        }

        </script>

    <script>
        function getNoOfRows() {
            var x = document.getElementById("Reviews").rows.length;
            document.getElementById("noOfReviews").innerHTML = x - 1;

            var x = document.getElementById("Comments").rows.length;
            document.getElementById("noOfComments").innerHTML = x - 1 ;

        }
        </script>

</head>
<body onload="displayRowNumber()" >
<div class="page">
    <div class="item">
        <a th:href="@{'/main_page/' + ${user.user_id}}">
            <img   th:src="@{../images/Logo.jpg}"  alt="logo" width="150px" height="300px">
        </a>
    </div>
    <div class="item2" align="center">
        <h1> YOUR PROFILE </h1>
        <h2 > Your reviews </h2>
        <br/><br/>
        <table id="Reviews"  border="1" cellpadding="10" >
            <tr>
                <th>No</th>
                <th>Title</th>
                <th>Content</th>
                <th>Posted On</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>

            <tbody>
            <tr th:each="review : ${reviews}">
                <td> </td>
                <td> <a th:text="${review.title}" th:href="@{'/game/' + ${review.game_id} + '/review/' + ${review.review_id}}" > </a> </td>
                <td th:text="${review.text_field}"></td>
                <td th:text="${review.posted_date}"></td>

                <td> </td>
                <!-- action column -->
                <td>
                    <a th:href="@{'/game/' + ${review.game_id} + '/edit/' + ${review.review_id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/game/' + ${review.game_id} + '/delete/' + ${review.review_id}}">Delete</a>
                </td>

            </tr>
            </tbody>

        </table>
        <br/><br/>
        <h2 > Your comments </h2>
        <br/><br/>
        <table id="Comments"  border="1" cellpadding="10" >
            <tr>
                <th>No</th>
                <th>Comment</th>
                <th>Posted On</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>

            <tbody>
            <tr th:each="comment : ${comments}">
                <td> </td>
                <td th:text="${comment.text_field}"></td>
                <td th:text="${comment.posted_date}"></td>
                <td> </td>
                <!-- action column -->
                <td>
                    <a th:href="@{'/game/' + ${comment.game_id} + '/review/' + ${comment.parent_id} + '/edit/' + ${comment.review_id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/game/' + ${comment.game_id} + '/review/' + ${comment.parent_id}} + '/delete/' + ${comment.review_id}">Delete</a>
                </td>

            </tr>
            </tbody>

        </table>

    </div>

    <div>
        <h2>Your info</h2>
        <form action="#" th:object="${user}" method="post">
            <table border="1" cellpadding="10">
                <tr>
                    <td>First Name:</td>
                    <td><output type="text" ></output> <span th:utext="*{firstName}"/></td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td><output type="text" ></output> <span th:utext="*{lastName}"/></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><output type="text" ></output> <span th:utext="*{email}"/></td>
                </tr>
                <tr>
                    <td>Join Date:</td>
                    <td><output type="text" ></output> <span th:utext="*{joinDate}"/></td>
                </tr>
                <tr>
                    <td>No of Reviews:</td>
                    <td id="noOfReviews"><output type="text" ></output> </td>
                </tr>
                <tr>
                    <td>No of Comments:</td>
                    <td id="noOfComments"><output type="text" ></output> </td>
                </tr>


            </table>
        </form>
    </div>

</div>

</body>
</html>